*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
.body{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(30deg,steelblue,pink);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.body h1{
    font-size: 45px;
    font-weight: 500px;
    margin-top: -50px;
    margin-bottom: 50px;
    color: rgb(17, 84, 8);
}
.body h1 span{
    color: rgb(151, 46, 81);

}
textarea{
    width: 600px;
    height: 250px;
    background-color:#fff;
    color:black;
    font-size: 15px;
    border: 0px;
    outline: 0ppx;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;

}
button{
background-color:rgb(151, 46, 81);
color: #fff;
font-size: 16px;
padding: 10px 30px;
border-radius: 35px;
border: 0;
outline: 0;
cursor: pointer;


}
button img{
    width: 15px;
    margin-right:10px;
   }
  